.footer__column-link {
  display: block;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  transition: 0.1s linear;
  margin-bottom: 10px;
}

.footer__column-link:hover {
  opacity: 0.4;
}
