.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10px;
}
